{% extends 'layout.html' %}

{% block logged_in %}
    {% if logged_in %}
        <h3><a href="{{ url_for('logout') }}">Logout</a></h3>
        <h3><a href="{{ url_for('user_page', user_id=user) }}">Account</a></h3>
    {% else %}
        <h3><a href="{{ url_for('registration') }}">Register</a></h3>
        <h3><a href="{{ url_for('login') }}">Login</a></h3>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="title">
        <h1>Add Question</h1>
        <hr>
    </div><br>

    <div>
        <form action="{{ url_for('add_question') }}" method="post" enctype="multipart/form-data">
        <label for="title">Title</label><br>
        <textarea name="title" class="input"></textarea>
        <p></p>
        <label for="message">Question</label><br>
        <textarea name="message" rows="20" class="input"></textarea>
        <p></p>
        <label for="image">Select image</label><br>
        <input type="file" name="image" class="button button1"/>
        <p></p>
        <button type="submit" class="button button1">Submit</button>
    </form>
    </div>
    <p></p>
{% endblock %}